#container {
  width: 100%;
  height: 46rem;
  background-color: rgb(250, 249, 249);
  border: solid 2px black;
}
b {
  transition: transform 2s;
  cursor: pointer;
}
b:hover {
  transform: scale(0.8);
}
.taskas {
  position: absolute;
  width: 12px;
  height: 12px;
  border: solid rgb(231, 12, 12) 0.8px;
  border-radius: 50%;
  transition: transform 1s;
}
.taskas:hover {
  transform: scale(2.5);
}
.point {
  position: absolute;
  width: 15px;
  height: 15px;
  border: solid rgb(14, 13, 13) 0.7px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 1s;
}
.point:hover {
  transform: scale(1.5);
}

.line {
  position: absolute;
  background-color: rgb(12, 12, 12);
  height: 1px;
}
